<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sequelize-mysql</title>
</head>

<body>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.js"></script>
    <script>
        $(function () {
            $.ajax({
                type: 'post',
                url: '/user',
                data: {
                    userId: 1
                },
                success: function (res) {
                    console.log(res);
                    document.write(JSON.stringify(res));
                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    </script>
</body>

</html>